
*{
    margin:0;
    padding:0;
    
}

body{
    font-family: 'Cormorant Garamond', serif;
    }
.trabajos{
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 6px 6px 6px 6px;
    display:inline-block;
}