
*{
    margin:0;
    padding:0;
    
}

body{
    background-image:url(/fondo.jpg);
    font-family: 'Cormorant Garamond', serif;
 
    }
.container{
    width:90%;
    max-width: 1000px;
    margin:1em auto;
}
h1{
 
    text-align: center;
    font-family: "JosefinSlab-LightItalic";
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
    text-align: center;    
    color: peru;
    text-shadow: 2px 3px 3px;
   
}

.trabajos{
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 6px 6px 6px 6px;
    display:inline-block;
}
footer{
    margin:1em auto;
}