
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    background-image: url(img/fondo.jpg);
    font-family: 'Cormorant Garamond', serif;
 
    }
.container{
    width:90%;
    max-width: 1000px;
    margin:1em auto;
}
h1{
    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: bold;
    text-align: center;    
    color: peru;
    text-shadow: 2px 3px 3px;
    
}
#logotipo{
    width:20%;
    display: inline-block;
    vertical-align: middle;
}
#logotipo img{
    width:100%;
    height: auto;
    
}
h1{
     width:70%;
    display: inline-block;
    vertical-align: middle;
}

.trabajos{
    margin-top: 50px;
    margin-left: 50px;
    border: 10px groove burlywood;
    display:inline-block;
    padding: 6px;
    border-radius: 20px;
    
   }
a{
    text-decoration: none;
    
}
img a:hover{
    color: blueviolet;
}
h3{
    text-align: center;
    color:darkolivegreen;
}
footer{
    margin-top: 80px;
    text-align: center;
    color: peru;
    font-weight: bold;
    text-shadow: 2px 3px 3px;
    font-size: 20px;
    
}